{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/round_border.css' %}">
<h3 style="text-align:center">Привет, я автор</h3>
<div style="border:2px dotted #555; border-radius:10px; text-align:center;  margin:40px; padding:20px;" >
  <p>
    Меня зовут Сабина.
    Я с детства любила читать научную фантастику и мечтала жить в мире будущего, в котором с людьми будут соседствовать умные машины
    и человечество освоит далёкий космос. Умные машины уже есть в нашей текущей реальности (до освоения глубокого космоса я вряд ли доживу,
    даже если не буду пить и курить, начну правильно питаться и заниматься йогой).
  </p>
  <p>
    Мне всегда было интересно, как эти машины работают, программирование казалось магией: ты печатаешь какие-то буковки, циферки,
    а на выходе работающая программа, думающая машина. И эти машины помогают людям во всех сферах жизни.
    Программа - это структура и логика, я люблю структуру, я люблю логику: они помогают бороться с хаосом жизни.
    Ввиду жизненных обстоятельств возможность начать осваивать искусство программирования у меня появилась уже в довольно взрослом возрасте.
    Это дело требует терпения, методичного подхода и спокойного отношения к моментам, когда не получается. Потому что моменты
    "не понимаю", "почему оно не работает", "не получается" - это часть реальности программирования, это своего рода обыденность. В такие моменты
    нужно помнить: сейчас не получается - потом получится, нужно только терпение и некоторые усилия.
  </p>
  <p>
    Мне нравится мир компьютеров и программ, этот мир неисчерпаем, информации для изучения очень много, постоянно появляется новая информация,
    новые направления, технологии. Ты можешь бесконечно в этом развиваться, узнавать новое, переоценивать старые знания, менять свои подходы.
  </p>
  <p>
    Признаюсь, процесс изучения дается нелегко, иногда хочется бросить, сказав себе, что это не для меня.
    На моем рабочем столе находится фотография моей любимой кошки. Она неожиданно скончалась от онкологии, прожив со мной 15 лет.
    Эта кошка прошла со мной очень сложные жизненные обстоятельства, она всегда была рядом, тихо заглядывала
    в глаза, сидела, прижавшись ко мне, и я, получая таким образом ее поддержку, справлялась со всем.
    И сейчас взгляд на ее фото помогает собраться с силами и продолжить освоение программирования.
    Еще мне помогает организация учебного пространства: мой рабочий стол стоит на кухне, самом уютном местом в квартире (чайник и холодильник рядом).
    На столе мини-увлажнитель воздуха, в который я добавляю эфирные масла для аромата. В таких условиях мне приятно садиться за ноутбук и учиться.
  </p>
</div>
<div>
    <p style="border:2px dotted #555; border-radius:10px; text-align:center;  margin:40px; padding:20px;">
      <a target="_blank" href="https://github.com/sabina-045">Ссылка на мою GutHub страницу, где я - программист</a>
    </p>
</div>
<div>
    <p style="border:2px dotted #555; border-radius:10px; text-align:center;  margin:40px; padding:20px;">
      <a target="_blank" href="https://vk.com/id390714056">Ссылка на мою страницу в ВК, где я - художник</a>
    </p>
</div>
<div>

      <p style="border:2px dotted #555; border-radius:10px; text-align:center;  margin:40px; padding:20px;">
      <img class="b-img-radius" src="{%static 'img\myworkplace.jpg'%}" title="Мое рабочее/учебное место" alt="Мое рабочее/учебное место.">
      </p>
</div>
{% endblock %}
